---
layout: default
---

<div class="post">

  <header class="post-header">
   <h1 class="post-title" style="font-family: 'Crimson Text', serif;">CATLAB</h1>

  <b>C</b>reative <b>A</b>I <b>T</b>echnologies research lab, currently hosted at <a href="https://cmpe.boun.edu.tr">Bogazici University, Department of Computer Engineering</a>. 
  </header>

  <article>
  

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.news %}
      {% include news.html %}
    {% endif %}


<hr>
<h1 class="post-title" style="font-family: 'Crimson Text', serif;">Team</h1>

<b>Principal Investigator</b>:  <a href="">Dr. Pinar Yanardag</a><br>
<b>Team Members</b>: xxx<br>
<b>Alumni:</b> xxx

<hr>
<h1 class="post-title" style="font-family: 'Crimson Text', serif;">Acknowledgements</h1>
We would like to acknowledge the support from 2232 International Fellowship for Outstanding Researchers Program of TUBITAK (Project No: 118c321). We also acknowledge the support of NVIDIA Corporation through the donation of the TITAN X GPU and GCP research credits from Google.  

 


    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}


  </article>

</div>
