---
layout: default
---

<div class="post">

  <header class="post-header">

   <center><h1 class="post-title" style="font-family: 'Crimson Text', serif;">CATLAB</h1></center>

  <b>C</b>reative <b>A</b>I <b>T</b>echnologies research lab, currently hosted at <a href="https://cmpe.boun.edu.tr">Bogazici University, Department of Computer Engineering</a>. 
 
  </header>


  <article>


    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}


    {% if page.news %}
      {% include news.html %}
    {% endif %}



<hr>
<h2 class="post-title" style="font-family: 'Crimson Text', serif;">Team</h2>

<b>Principal Investigator</b>:  <a href="http://pinguar.org" target="_blank">Dr. Pinar Yanardag</a><br>
<b>Team Members</b>: Enis Simsar, Mert Tiftikci, Alara Dirik, <a href="https://kocasariumut.github.io" target="_blank">Umut Kocasari</a>, Ezgi Gulperi Er<br>
<b>Alumni:</b> <a href='https://okyksl.gitlab.io/' target="_blank">Oguz Kaan Yuksel</a> (now at EPFL), Dilara Gokay (now at TUM), Mert Yuksekgonul (now at Stanford CS)

<hr>
<h2 class="post-title" style="font-family: 'Crimson Text', serif;">Acknowledgements</h2>
We would like to acknowledge the support from 2232 International Fellowship for Outstanding Researchers Program of TUBITAK (Project No: 118c321). We also acknowledge the support of NVIDIA Corporation through the donation of the TITAN X GPU and GCP research credits from Google.  This website is using <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme.

 


    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}


  </article>

</div>
